
@media screen and (min-width: 76.25em) {

.md-sidebar--primary {
  width: 21rem !important;
}


.md-sidebar--primary .md-nav {
  width: max-content !important;
  min-width: 100% !important;
}

.md-grid {
    max-width: 95% !important;
}

body {
  -webkit-font-smoothing: auto;
  -moz-osx-font-smoothing: auto;
  text-rendering: optimizeLegibility;
}


[data-md-color-scheme="slate"] {
  --md-text-font-weight: 450;
}

[data-md-color-scheme="slate"] .md-typeset {
  font-weight: 450;
}

}

.md-typeset table:not([class]) th,
.md-typeset table:not([class]) td {
    border: 1px solid var(--md-default-fg-color--lighter);
}

.md-typeset table:not([class]) {
    border-collapse: collapse;
}

.md-typeset table:not([class]) td,
.md-typeset table:not([class]) th {
    padding-top: 0.05rem !important;
    padding-bottom: 0.05rem !important;
}

